body 
{
	background: url(http://images3.wikia.nocookie.net/__cb20050730172104/memoryalpha/en/images/e/e9/Jeyal.jpg) no-repeat black;
}

h1
{
	color: white;
	text-align: center
}

p
{
	text-align: center;
}

a 
{
	color: white;
}