body
{
	background: black url(http://jwst.nasa.gov/ImagesContent/heic0706a.jpg) no-repeat center center;
}

h1
{
	color: white;
	text-align: center;
}

form
{
	text-align: right;
	margin-top: 100px;
}

#form
{
	color: white;
}

.lien
{
	color: white;
}